.sc-dadef89eae2869504142d2adb535cb31 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100vh;
    color: white;
    background: green;
}

.sc-13f27967e49e9d67e4eb6994e773e7e8 {
    color: black;

    &:hover {
        background: red;
        cursor: pointer;
    }

    &:focus {
        background: yellow;
    }
}

.sc-38cd05537db1df51b920c342074233d6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100vh;
    color: white;
    @media (min-width: 0) {
        background: yellow;
    }
    @media (min-width: 768px) {
        background: green;
    }
    @media (min-width: 992px) {
        background: white;
    }
}

.sc-1de8ab6552ca352ae131a070e8c92e29 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100vh;
    color: white;
    @media (min-width: 0) {
        background: yellow;
    }
    @media (min-width: 768px) {
        background: green;
    }
    @media (min-width: 992px) {
        background: red;
    }
}

