.sc-ed76dc2626bb473424e79841104f1305 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100vh;
    color: white;
    background: orange;
}

.sc-13f27967e49e9d67e4eb6994e773e7e8 {
    color: black;

    &:hover {
        background: red;
        cursor: pointer;
    }

    &:focus {
        background: yellow;
    }
}

